body {
  background-color: #1A191E;
  color: #ACB5BA;
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: Arial;
  text-align: center;
  
}

.box{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.row{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Item{
	width: 9vw;
	height: 9vw;
	margin-left: 4px;
	margin-right: 4px;
}

.head{
	width: 100%;
	text-align: center;
}
.foot{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

#headerP{
	font-size:2.5em;
}
#footerP{
	font-size:0.7em;
}
.blockP {
	margin: 0;
	font-size:7.1vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
	.Item{
	width: 13vw;
	height: 13vw;}
	#headerP{font-size:3em;}
	#footerP{font-size:0.75em;}
	.blockP{font-size:10.1vw;}
}


@media only screen and (max-width: 600px) {
	.Item{
	width: 18vw;
	height: 18vw;}
	#headerP{font-size:3.35em;}
	#footerP{font-size:0.75em;}
	.blockP{font-size:14.5vw;}
}

.blockContainer {
	height: 100%;
	position: relative;
}

.blockCenter {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}